.app-wrapper {
    max-width: 1200px;
    min-width: 500px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav {
    display: flex;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
}

nav a.active {
    box-shadow: 3px 3px 15px 5px #9d00ff;
}

h1 {
    font-size: 50px;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: white;
    text-shadow: 5px 3px 5px #9d00ff;
}

.app-content {
    height: 100%;
}
