button {
    width: 150px;
    padding: 5px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    cursor: pointer;
    color: #ffffff;
    background: transparent;
    border: 1px solid #9d00ff;
    border-radius: 5px;
}
