button {
    width: 70px;
    padding: 5px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    cursor: pointer;
    color: #ffffff;
    background: transparent;
    border: 1px solid #35d22d;
    border-radius: 5px;
}
