<div class="wrapper">
    <div class="container">
        <div class="button-container">
            <button>Race</button>
            <button>Reset</button>
            <div>
                <input type="text">
                <button>Create</button>
            </div>
            <div>
                <input type="text">
                <button>Update</button>
            </div>
            <button (click)="createRandomCars()">Generate Cars</button>
        </div>

        <div class="car-container">
            <app-cars-list [cars]="cars"></app-cars-list>
        </div>

        <div class="pagination-container">
            <div>Garage ( {{totalCars}} )</div>
            <div class="pagination">
                <button [disabled]="currentPage === 1" (click)="goToFirstPage()">&lt;&lt;</button>
                <button [disabled]="currentPage === 1" (click)="goToPreviousPage()">&lt;</button>
                <span>{{ currentPage }} / {{ totalPages }}</span>
                <button [disabled]="currentPage === totalPages" (click)="goToNextPage()">></button>
                <button [disabled]="currentPage === totalPages" (click)="goToLastPage()">>></button>
            </div>
        </div>

    </div>
</div>