@if (car && car.id) {
<div class="car-container">
    <div class="btn-container">
        <app-select-button [selected]="selectedCar" (selectionChanged)="onSelect(car)"></app-select-button>
        <app-remove-button (delete)="onRemove(car.id)"></app-remove-button>
    </div>

    <div class="btn-container">
        <button (click)="startMoving(car)" [disabled]="isMoving">Start</button>

        <button (click)="stopMoving(car)" [disabled]="!isMoving">Stop</button>
    </div>
    <div class="race-container">

        <div class="car" [attr.id]="car.id" [style.backgroundColor]="car.color">Car
        </div>

        <span class="car-name">{{ car.name }}</span>

    </div>

</div>
}