<div class="winners-container">
    <div class="table-header">
        <div>Id</div>
        <div>Car</div>
        <div>Name</div>

        <div><button (click)="sortWins()"><span
                    [innerHTML]="winsSortOrder === 'asc' ? '&#9650;' : '&#9660;'"></span></button> Wins

        </div>
        <div><button (click)="sortTime()"><span
                    [innerHTML]="timeSortOrder === 'asc' ? '&#9650;' : '&#9660;'"></span></button> Best time (s)
        </div>
    </div>

    <div class="table-body">
        @for (winner of winners; track $index) {
        <app-winner [winner]="winner"></app-winner>
        }
    </div>
</div>